<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="oefening, web, expert, angular, node">
    <meta name="description" content="Oefeningen Web Expert 2016">
    <meta name="author" content="Rudy Mas">
    <meta name="contact" content="rudy.mas@rudymas.be">
    <meta name="rating" content="General">
    <meta name="revisit-after" content="7 days">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hoofdstuk x Oefening</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="../node_modules/angular/angular.js" type="text/javascript" defer="defer"></script>
</head>
<body ng-app="myApp">
<div class="container">

</div>
</body>
</html>