<div class="row-fluid">

    <div class="span3 fm-panel">
        <h4>Selectie Restaurants</h4>

        <form ng-init="Ctrl.group = (Ctrl.kitchenOptions)">
            <h5>Keuken</h5>
            <div ng-repeat="check in Ctrl.group">
                <label class="checkbox"><input type="checkbox" ng-model="Ctrl.useChoices[$index]"> {{check.kitchen}}</label>
            </div>
        </form>

    </div>

    <div class="span9 fm-panel">
        <table class="table table-hover table-striped">
            <tr>
                <th></th>
                <th>Naam</th>
                <th>Beoordeling</th>
            </tr>
            <tr ng-repeat="restaurant in Ctrl.restaurants | filter:Ctrl.filterKitchen()">
                <td><img src="img/restaurants/{{restaurant.id}}.PNG" alt="foto restaurant"></td>
                <td>
                    <a ng-href="#/menu" ng-click="Ctrl.kiesRest(restaurant)"><b>{{restaurant.naam}}</b></a>
                    <p>{{restaurant.beschrijving}}</p>
                    <p>{{restaurant.type}}</p>
                </td>
                <td><img src="img/restaurants/rate_{{restaurant.rating}}.PNG" alt="rating"></td>
            </tr>

        </table>
    </div>
</div>