<form name="form" action="#/thanks">
    <div class="container fm-panel fm-checkout">
        <h4>Menu</h4>

        <div class="row">
            <div class="span6">
                <h5>Leveradres:</h5>
                <div>{{Ctrl.klantInfo.klantnaam}}</div>
                <div>{{Ctrl.klantInfo.leveringsadres}}</div>
                <div>{{Ctrl.klantInfo.telefoon}}</div>
            </div>
            <div class="span6">
                <h5>Betaling:</h5>
                <div class="control-group">
                    <select name="ccType" class="input-medium" required>
                        <option value="visa">Visa</option>
                        <option value="mc">MasterCard</option>
                        <option value="amex">Amex</option>
                        <option value="discover">Discover</option>
                    </select>
                </div>
                <div class="control-group">
                    <input type="text" name="ccNum"
                           placeholder="Card number"
                           maxlength="16"
                           required ng-pattern="/\d{16}/">
                </div>
                <span class="control-group">
          <input type="text" name="ccExp" placeholder="mm/yyyy" class="input-medium"
                 maxlength="16"
                 required ng-pattern="/\d\d\/\d\d\d\d/">
        </span>
                <span class="control-group">
          <input type="text" name="ccCvc" placeholder="CVC" class="input-small"
                 maxlength="4"
                 required ng-pattern="/\d{3,4}/">
        </span>
            </div>
        </div>

        <div>
            <table class="table table-hover table-striped">
                <tr>
                    <th>Aantal</th>
                    <th>Omschrijving</th>
                    <th>Prijs</th>
                    <th>SubTotaal</th>
                </tr>
                <tr ng-repeat="item in Ctrl.cart">
                    <td><input type="number" ng-model="item.aantal" ng-change="Ctrl.updateCart()"></td>
                    <td>{{item.menu}}</td>
                    <td>&euro; {{item.prijs}}</td>
                    <td>&euro; {{item.aantal * item.prijs}}</td>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Totaal:</th>
                    <th>&euro; {{Ctrl.totaalPrijs}}</th>
                    <th></th>
                </tr>
            </table>

            <div class="fm-right">
                <a href="#/menu" class="btn">Terug naar het Menu</a>
                <a href class="btn btn-danger" ng-click="Ctrl.emptyCart()">Maak shoppingcard leeg</a>
                <button class="btn btn-primary">Aankoop bevestigen</button>
            </div>
        </div>
    </div>
</form>  