<div>
    <table id="auto">
        <tbody>
        <tr>
            <td class="label-default name">Omschrijving</td>
            <td class="label-default output" style="color: black"><input type="text" ng-model="Ctrl.auto.omschrijf"/></td>
        </tr>
        <tr>
            <td class="label-default name">Type</td>
            <td class="label-default output" style="color: black">
                <select ng-options="type.type for type in Ctrl.typeAutos track by type.id" ng-model="Ctrl.auto.type">
                </select>
            </td>
        </tr>
        <tr>
            <td class="label-default name">Basisprijs</td>
            <td class="label-default output" style="color: black"><input type="text" ng-model="Ctrl.auto.prijs"/></td>
        </tr>
        <tr>
            <td class="label-default name">Verkeersbelasting (jaarlijks)</td>
            <td class="label-default output" style="color: black"><input type="text" ng-model="Ctrl.auto.verkeerTax"/></td>
        </tr>
        <tr>
            <td class="label-default name">Belasting op inverkeerstelling</td>
            <td class="label-default output" style="color: black"><input type="text" ng-model="Ctrl.auto.inverkeer"/></td>
        </tr>
        <tr>
            <td class="label-default name">Gemiddeld verbruik (L/100LM)</td>
            <td class="label-default output" style="color: black"><input type="text" ng-model="Ctrl.auto.verbruik"/></td>
        </tr>
        <tr>
            <td colspan="2" class="center"><a ng-click="Ctrl.addAuto()" class="btn btn-lg btn-primary">Auto Toevoegen</a></td>
        </tr>
        </tbody>
    </table>
</div>