<div>
    <table width="80%">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Omschrijving</th>
            <th>Prijs</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="auto in Ctrl.autos">
            <td><a ng-href="deleteAuto/{{auto.id}}"><span class="glyphicon glyphicon-trash" style="color: black; background-color: white; margin: 3px; padding: 5px; border-radius: 10px"></span></a></td>
            <td><a ng-href="auto/{{auto.id}}">{{auto.omschrijving}}</a></td>
            <td>{{auto.basisprijs | currency:"€":0}}</td>
            <td>{{auto.type}}</td>
        </tr>
        </tbody>
    </table>
</div>